<!DOCTYPE html>
<html>
<body>

<br><br><br><br>
<center><h1>Thank you for giving the test.</h1><h3>Your score is <%= score %></h3>
 <p> Give your feedback </p> 
<!-- <input type="text" , placeholder="write in less than 100 words" >-->
 <textarea></textarea><br><br>
 <a href="/dashboard"><button type="submit">submit feedback</button></a>
</center>


</body>
</html>